
.hero-centered {

    &__text {
        padding: 80px;
    }

    h1, h2, h3, h4, h5 {
        max-width: 600px;
    }

    &__img {
        position: relative;
        padding-bottom: 50vw;
        overflow: hidden;

        img {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 110%;
            max-width: none;
            height: auto;
        }

        @include breakpoint(medium) {
            padding-bottom: 40vw;

            img {
                width: 100%;
            }
        }
    }
}